body {
  background-color: #fff;
  color: #000;
  font-family: sans-serif;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.story-text {
  margin-top: 2em;
  width: 100%;
}
.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

p {
  line-height: 1.3em;
  margin-bottom: 1em;
}

h1 {
  margin-top: 1em;
  font-size: 200%;
}

h2, h3 {
  margin-top: 1em;
  font-size: 120%;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}
